* {
	box-sizing: border-box; /*the margin is removed from the page*/
   margin: 0;
}
body{
    font-family: 'Lucida Bright', sans-serif;  /*declare the same font for the whole page */
	

}


main { /* the article is defined */
	
	max-width: 1000px; 
    width: 100%;
    margin: auto;
    padding: 10px;
    background-color:white ;
	
}
.content{ /* the background is defined */
  
background-color: #F7F9F8;
}





/* all nav styles*/

nav{
    list-style-type: none;
   text-align: right;
  height: 50px;
 background-color: #313433 ; 
 height: 50px;

}

#nav ul{

    padding: 15px;
}

#nav li{
    
   display: inline;
   text-align: center;
   margin: 0 50px 0 0;
}
#nav li a {
  height: 50px;

   color: #666;
   text-decoration: none;
}
#nav li a:hover{
   background-color: #333333;
   color: #ffffff;
}



/*  */

    
/*the title  */

#titulo1{
    padding:15px ;
    color:indigo;
    text-shadow: 7px 7px #8dffcd;
    text-align:center;
    font-family: 'Lucida Bright', 'Arial Narrow', Arial, sans-serif;
}

/* the content of the page */
p{
     padding:15px ;
    font-family: 'Lucida Bright', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 18px;
    margin-left: 50px;
    margin-right: 50px;

}
.titulo-2{
     padding:15px ;
    color:rgb(9, 16, 73);
    text-shadow: 7px 7px #5ed0d8;
    text-align:center;
    font-family: 'Lucida Bright', 'Arial Narrow', Arial, sans-serif; 
}
#titulo3{
     padding:15px ;
    color:rgb(87, 8, 88);
    text-shadow: 7px 7px #e5abe7;
    text-align:center;
    font-family: 'Lucida Bright', 'Arial Narrow', Arial, sans-serif; 
}
h1{
    text-align: center;
}
 img{
     display: inline-block;
     width: 500px;
     height: 600px;
     margin-left: auto;
     margin-right:auto ;
 }
 .caja1{
     display: inline-block;
     
     margin-left: 80px;
     margin-right: 50px;
     background-color: rgb(175, 45, 164) ;
     border: 5px solid rgb(175, 45, 164) ;
 }
 .caja2{
     display: inline-block ;
     margin-left: 50px;
     margin-right: 50px;
     background-color: rgb(175, 45, 164) ;
     border: 5px solid rgb(175, 45, 164) ;
 }
 .cajam1{
     width: 350px;
     height: 400px;
 }
 .cajam2{
    width: 350px;
    height: 400px;
}
#titulo4{
    
    color:indigo;
    text-shadow: 7px 7px #8dffcd;
    text-align:center;
    font-family: 'Lucida Bright', 'Arial Narrow', Arial, sans-serif;
}
#titulo5{
    
    color:rgb(88, 20, 23);
    text-shadow: 7px 7px #f87b9a;
    text-align:center;
    font-family: 'Lucida Bright', 'Arial Narrow', Arial, sans-serif;
}
.titulo-6{
    
    color:rgb(14, 52, 110);
    text-shadow: 7px 7px #7beaf8;
    text-align:center;
    font-family: 'Lucida Bright', 'Arial Narrow', Arial, sans-serif;
}
.link{
    border-radius: 20px;
    text-align: center;
    background-color: rgb(58, 145, 172);
    width: 400px;
    height: 60px;
    margin: auto;
}
#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;

}
#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}
#customers {
    font-family: 'Lucida Bright', Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }



/*the images with their initial size and when hovering the mouse zooms out*/


.zoom {
  padding: 5px;
  
  transition: transform .2s; /* Animation */
  width: 400px;
  height: 400px;
  margin-left: 60px;
}

.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


